extends _base

block content


	.portfolio-content
		.row
			.column
				h2= data.title
	.row
		.column.large-8
			// ul.menu(style="margin-bottom: 1em;")
			// 	| {% for relation in item.tags %}
			// 	li(style="display: inline-block;")
			// 		a(href="/portfolio/#{{ relation.name }}", style="margin-left: 0;") #{{ relation.name }}

			p.lead!= data.description.replace('<p>', '<p class="lead">')
			//- pre!= JSON.stringify(data.description, null, 10)
		.column.large-4
			if data.testimonial
				blockquote
					p= data.testimonial.quote
					cite= data.testimonial.title

	.row.column
		if data.website
			a.button.large.hollow(href=data.website target="_blank") Visit the website &rarr;

	.row
		.column
			if data.gallery
				for image in data.gallery

					.portfolio-item-image
						.bg-gray.loader
							img(src=image.url)
						if image.caption
							p.caption &uarr; #{ image.caption }


			if data.website
				a.button.large.hollow(href="{{ item.website }}" target="_blank" style="margin-bottom: 8em;") Visit the website →

	
	- var prev = getPreviousArticle(data)
	- var next = getNextArticle(data)
	
	mixin popover(item)
		.popover
			if item.gallery
				img(src=item.gallery[0].url)
			h6= item.title
		
	.row
		.column.small-4

			if prev 
				a(href='/portfolio/'+prev.slug+'.html')
					//- pre= JSON.stringify(prev, null, 10)
					button.button.hollow.small(style="border-bottom-color: transparent;") ← Previous Project
					br
					+popover(prev)

		.column.small-4.text-center
			a.button.hollow(href="/portfolio/") &larr; Back to portfolio
			
		.column.small-4.text-right
			if next 
				//- pre= next.title
				a(href='/portfolio/'+next.slug+'.html')
					button.button.hollow.small(style="border-bottom-color: transparent;") Next Project →
					br
					+popover(next)
