extends _base

block vars
	- var pagetitle = data.title
	- var description = data.description

block content

	//- if data.showcase
		- var item = data
		section.showcase.inside(style='background-color:'+item.showcase.color, data-bg=item.showcase.image)
			.row.expanded.align-middle
				.column.small-12.large-6
					//- img.parallax(data-src=item.showcase.image, alt='')
				.column.small-12.large-6
					h6= item.title
					h2= item.showcase.title
					for tag in item.showcase.tags.split(',')
						span.label= tag
					br
					a.button(href=data.website target="_blank") Visit the website &rarr;

	.portfolio-content.wow.fade-in.delay-1
		.row
			.column
				h2= data.title
	.row.align-justify.wow.fade-in.delay-2
		.column.large-7
			// ul.menu(style="margin-bottom: 1em;")
			// 	| {% for relation in item.tags %}
			// 	li(style="display: inline-block;")
			// 		a(href="/portfolio/#{{ relation.name }}", style="margin-left: 0;") #{{ relation.name }}

			p.lead!= data.description
			//- pre!= JSON.stringify(data.description, null, 10)
		.column.large-5
			if data.testimonial
				blockquote
					p= data.testimonial.quote
					cite= data.testimonial.title

	.row.column.wow.fade-in.delay-3
		if data.website
			a.button.large.hollow(href=data.website target="_blank") Visit the website &rarr;

	.row.wow.fade-in.delay-4
		.column
			if data.gallery
				//- - var start = data.showcase ? 1 : 0
				- var start = 0
				each image, index in data.gallery.slice(start, 999)

					.portfolio-item-image(class= index == 0 ? 'browser' : '' )
						.bg-gray.loader
							img(src=image.url)
						if image.caption
							p.caption &uarr; #{ image.caption }


			if data.website
				a.button.large.hollow(href=data.website target="_blank" style="margin-bottom: 8em;") Visit the website →


	- var prev = getPreviousArticle(data)
	- var next = getNextArticle(data)

	mixin popover(item)
		.popover
			if item.gallery
				img(src=item.gallery[0].url)
			h6= item.title

	.row
		.column.small-4

			if prev
				a(href='/portfolio/'+prev.slug+'.html')
					//- pre= JSON.stringify(prev, null, 10)
					button.button.hollow.small(style="border-bottom-color: transparent;") ← Previous Project
					br
					+popover(prev)

		.column.small-4.text-center
			a.button(href="/portfolio/") &larr; Back to portfolio

		.column.small-4.text-right
			if next
				//- pre= next.title
				a(href='/portfolio/'+next.slug+'.html')
					button.button.hollow.small(style="border-bottom-color: transparent;") Next Project →
					br
					+popover(next)
